/*
Theme Name: SopsonDotTell
Theme URI: https://www.facebook.com/Collegium2016/
Author: SopsoN
Author URI: https://www.facebook.com/Collegium2016/
Description: Szablon strony zrobiony przez SopsoN'a.
Version: 1.0
*/

/* MENU */
#nav-menu {
	background: #e88c30;
	padding: 1rem;
	color: #FFF;
}

#nav-menu .pure-u-1-3 {
	box-sizing: border-box;
	text-align: center;
}

#nav-menu img {
	display: inline-block;
	
	width: 3rem;
}

#nav-menu p {
	margin: 0;
	font-family: 'Amatic SC';
	font-size: 2em;
	font-weight: 900;
}

#nav-menu p span {
	font-weight: 100;
}

#nav-menu #my-bio {
	padding-left: 1.5rem;
	text-align: left;
}

#my-bio a {
	display: inline-block;
	
    padding: .3rem .5rem;
	
	border: 1px solid #FFF;
	border-radius: 999px;
	
	text-decoration: none;
	text-align: center;
	color: #FFF;
	
	transition: .4s;
}

#my-bio a:hover {
	background: rgba(0,0,0,.5);
}

#my-bio a i {
	display: block;
}

#my-bio a span {
	display: block;
}

/* MOJE BIO */
#mySidenav {
	box-sizing: border-box;
	color: #FFF;
	text-align: center;
}

#mySidenav .pure-u-1-1 {
	padding: 0 2rem;
}

#mySidenav h3 {
	text-transform: uppercase;
	margin-bottom: 5px;
}

.bio-smiple-bottom-border {
	display: block;
	width: 2rem;
	height: 3px;
	margin: 0 auto;
	background: #e88c30;
}

#mySidenav p {
	text-align: justify;
	font-weight: 100;
}

#mySidenav img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 999px;
}

#mySidenav ul {
	list-style: circle;
	text-align: left;
	font-weight: 100;
}

#mySidenav ol {
	text-align: left;
	font-weight: 100;
}

#mySidenav li {
	margin: .5rem 0;
}

#mySidenav li a {
	color: #FFF;
	text-decoration: underline;
	transition: .4s;
}

#mySidenav li a:hover {
	color: #e88c30;
}

#bio-personal-details strong {
	display: inline-block;
	width: 35%;
}

#bio-personal-details span {
	display: inline-block;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn:hover {
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* POJEDYNCZY WPIS */
.post-content {
	padding: 2rem 7rem;
	box-sizing: border-box;
	text-align: center;
}

.post-header-page {
	background-size: cover !important;
	background-attachment: fixed !important;
	background-position: center top !important;
	background-repeat: no-repeat !important;
}

.post-header-page-overlay {
	width: 100%;
	padding: 3.5rem 7rem;
	background: rgba(0,0,0,.25);
}

.post-header-page h1 {
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}


/* LISTOWANIE WPISÓW */
.post-container {
	height: 100%;
	max-height: 300px;
	
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;}

.post-container:hover .post-holder {
	background: rgba( 0, 0, 0, .3 );
}

.post-holder {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
	
	background: rgba( 0, 0, 0, .4 );
	
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
    transition: .3s;

}

.post-holder h3 {
	margin-bottom: 0;
	
	font-size: 2em;
	color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

.post-holder p {
	margin-top: .5rem;
	
	color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

.post-holder a {
    padding: .3rem 1rem;
    
    border: 1px solid #e88c30;
    border-radius: 20px;
	
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.1em;
    
    cursor: pointer;
    transition: .4s;
}

.post-holder a:hover {
	background: #e88c30;
	text-shadow: none;
}

/* REMODAL */

.remodal.remodal-is-initialized.remodal-is-opened {	
	max-width: 90%;
	
	padding: 0;
}

.remodal-header {
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 1rem;
    
    background: #e88c30;
}

.remodal-close {
	float: right !important;
	position: relative !important;
}

.remodal-close:before {
	position: relative !important;
	
	color: #FFF;
	
	transition: .4s;
}

.remodal-close:hover:before {
	color: #efefef;
}

.remodal-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    
    color: #FFF;
    text-align: left;
    font-weight: 100;
    font-family: Oswald;
}

.remodal .pure-g {
	padding: 0 2rem;
	
	font-size: 1.2em;
	font-weight: 300;
	word-break: break-word;
}

.footer-remodal {
	padding-top: .4rem;
	padding-bottom: .4rem;
	padding-right: 1rem;
	
    background: #e88c30;
}

.footer-remodal p {
	margin: 0;
	padding: 0 1rem;
	
	color: #FFF;
}

.footer-remodal span {
	display: inline-block;
	width: 50%;
}

.footer-remodal span:first-child {
	text-align: left;
}

.footer-remodal span:last-child {
	text-align: right;
}

.footer-remodal span a {
	color: #FFF;
	transition: .4s;
}

.footer-remodal span a:hover {
	color: #000;
}

/* STOPKA */
#footer-copy {
	background: #000;

	color: #FFF;
	font-weight: 100;
	text-align: center;
}

#footer-copy a {
	color: #FFF;
	text-decoration: none;
	
	transition: .4s;
}

#footer-copy a:hover {
	color: #e88c30;
}


/* POSTS */

#post_get_more {
	margin: 2rem 0;
}

#post_get_more a {
	display: inline-block;
	padding: .5rem 1rem; 
	border: 1px solid #222; 
	color: #222;
	text-decoration: none;
	transition: .4s;
}

#post_get_more a:hover {
	background: #e88c30;
	color: #FFF;
}



#collegium-img img {
	width: 7rem;
	height: auto;
}